.App {
  text-align: center !important;
  font-family: 'Permanent Marker', cursive;
}

.app-title {
  align-content: center !important;
  background-color:#97CC04;


}

.join-community{
  color: white;
  padding: 2%;
}







